node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/ui

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/dist/*.cjs
/dist/ui

/dist/httpstart-debian/usr/bin
/dist/httpstart-debian/usr/share

/dist/*.deb
/dist/*.rpm
/dist/*.tar.gz
/dist/*.tar.zstd